* {
    margin: 40px;
}

body {
    background-color: #ffcc99;
}

.content,
button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(18, 128, 136);
}

button {
    background-color: rgb(7, 11, 87);
    color: white;
    cursor: pointer;
    display: block;
    width: auto;
}

button:hover {
    background-color: rgb(5, 75, 36);
}

.container,
content,
h1 {
    background-color: #333;
    text-align: center;
    color: white;
    margin-top: 70px;
}